@charset "utf-8";
/* CSS Document */

	body {
		font-family: "Lato", Helvetica, sans-serif;
		font-size: 16px;
		background-color: #222;	
	}
	
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sanchez", Georgia, serif;
}

h1 {
	font-size: 60px;
	color: #fff;
	margin: 0px 0;

}

p {
	font-size: 22px;
	color: #ccc;
	line-height: 1.8;
	margin: 0px 0;


}

.container_header {
	margin: 250px auto;
	margin-bottom: 100px;
	/*top-margin: 250px auto;*/
	text-align: center;
	width: auto;
}

.container_menu {
	background-color: #AC8420;	
	margin: 0 auto;
	margin-bottom: 0 auto;
	/*top-margin: 250px auto;*/
	text-align: center;
	width: 0 auto;
}
